
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学生考勤管理系统--员工</title>
</head>
<style>
    .center {
    height: 1200px; /* 设置为页面高度 */
    width:100%;
}
</style>
<body> 

    <div class="center">
    
        @await Html.PartialAsync("ce.cshtml")
        </div>
   
   
</body>


</html>